#tudo{
    background-color: rgb(30 25 44);
}

.corpo{
	width: 1000px;
    height: 500px;
	margin: 0 auto;
    background-color: rgb(30 25 44);
  
}
.form-group{
    padding-top: 5px;
    font-family: verdana;
    color: darkgray;
}
#legenda{
    font-family: verdana;
	color: darkgray;
    text-align: center;
    padding-top: 10px;
}

#msg{
	color: red;	
}
#bt{
    margin-top: 20px;
    color: rgb(30 25 44); 
    border: solid darkgray 1px;
    background-color: darkgray;
}